<div class="container">
    <div class="flex justify-center">
        <div class="w-full md:w-1/2">
            <h2>Your Account: <span class="member-username">{{user.username}}</span></h2>
            <p>Your details:</p>
            <ul>
                <li>ID: {{user.id}}</li>
                <li>Username: {{user.username}}</li>
                <li>Email: {{user.email}}</li>
                <li>Account Creation: {{user.date_created}}</li>
            </ul>
        </div>
    </div>
</div>